<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="../assets/fonts/feather/feather.css" rel="stylesheet">
  <link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
  <link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
  <link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
  <link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
  <link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
  <link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
  <link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">







  <!-- Theme CSS -->
  <link rel="stylesheet" href="../assets/css/theme.min.css">
  <title>409 Conflict | Duplicate entry data</title>
</head>

<body class="bg-white">
<!-- Page Content -->
<div>
  <div class="container d-flex flex-column">
    <div class="row">
      <div class="offset-xl-1 col-xl-2 col-lg-12 col-md-12 col-12">
        <div class="mt-4">
          <a href="../index.html"><img src="../assets/images/brand/logo/logo.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center g-0 py-lg-22 py-10">
      <!-- Docs -->
      <div class="offset-xl-1 col-xl-4 col-lg-6 col-md-12 col-12 text-center text-lg-start">

        <p class="mb-5 lead">Oops! Sorry, it seems there is <b>duplicate</b> data. Please check your entry data.</p>
        <a href="#" th:href="@{/}" class="btn btn-primary me-2">Back to Home Page</a>
      </div>
      <!-- img -->
      <div class="offset-xl-1 col-xl-6 col-lg-6 col-md-12 col-12 mt-8 mt-lg-0">
        <img src="../assets/images/error/404-error-img.svg" alt="" class="w-100" />
      </div>
    </div>
    <div class="row">
      <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-12">
        <div class="row align-items-center mt-6">
          <div class="col-md-6 col-8">
            <span>© 2021 Benev and Planinski. All Rights Reserved.</span>
          </div>
          <div class="col-md-6 col-4 d-flex justify-content-end">
            <a href="#" class="text-muted text-primary-hover me-3  "><i class="mdi mdi-facebook mdi-24px"></i></a>
            <a href="#" class="text-muted text-primary-hover me-3  "><i class="mdi mdi-twitter mdi-24px"></i></a>
            <a href="#" class="text-muted text-primary-hover"><i class="mdi mdi-github mdi-24px"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>








<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>

</body>
</html>