<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Addon display card</title>
</head>
<body>

<!-- Addon Card for display -->

<div class="card  mb-4 card-hover" th:fragment="display-card">
    <a href="#" th:href="@{'/addons/'+${addon.id}}" class="card-img-top">
        <img th:src="@{'/addons/image'(id=${addon.id})}" alt=""
             class="card-img-top rounded-top-md">
    </a>
    <!-- Card Body -->
    <div class="card-body">
        <h4 class="mb-2 text-truncate-line-2 ">
            <a href="#" th:href="@{'/addons/'+${addon.id}}" class="text-inherit"
               th:text="${addon.name}">Addon Name</a>
        </h4>
        <!-- List -->
        <ul class="mb-3 list-inline">
            <li class="list-inline-item"><i class="far fa-clock me-1"
                                            th:text="' Uploaded on: '+${#dates.format(addon.uploadDate, 'd MMM, yyyy')}">Upload date</i>
            </li>
            <li class="list-inline-item"><i class="fe fe-download me-1"
                                            th:text="'  '+${addon.downloads}+' Downloads'"></i>
            </li>
        </ul>
        <div class="lh-1">
                                    <span>
							            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                            <i th:if="${i le addon.roundedRate}"
                                               class="mdi mdi-star text-warning me-n1"></i>
                                        </th:block>

							            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                            <i th:if="${i gt addon.roundedRate}"
                                               class="mdi mdi-star text-light me-n1"></i>
                                        </th:block>
                                    </span>
            <span class="text-warning"
                  th:text="${#numbers.formatDecimal(addon.rating,1,1)}">4.5</span>
            <span class="fs-6 text-muted" th:text="'('+${addon.raters}+')'">(9,300)</span>
        </div>
    </div>
    <!-- Card footer -->
    <div class="card-footer">
        <div class="row align-items-center g-0">
            <div class="col-auto">
                <img src="#" th:src="${addon.user.imageURI != null ? addon.user.imageURI : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="rounded-circle avatar-xs" alt="">
            </div>
            <div class="col ms-2">
                <span th:text="${addon.user.username}">Creator username</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>