<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		  content="Addonis is a student final graduation project of Telerik Academy- software bootcamp. Created by B. Benev and D. Planinski"/>



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


<!-- Libs CSS -->
<link href="../assets/fonts/feather/feather.css" rel="stylesheet">
<link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
<link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
<link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
<link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
<link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
<link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
<link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">







<!-- Theme CSS -->
<link rel="stylesheet" href="../assets/css/theme.min.css">
  <title>Addon Filter | Adonis - IDE extensions</title>
</head>

<body>
  <!-- Page content -->
  <nav class="navbar navbar-expand-lg navbar-default">
	<div class="container-fluid px-0">
		<a class="navbar-brand" href="#" th:href="@{/}"
			><img src="../assets/images/brand/logo/logo.svg" alt=""
		/></a>
		<!-- Mobile view nav wrap -->
		<ul
				class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
		>
			<!--            <li class="dropdown stopevent">-->
			<!--                <a-->
			<!--                        class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"-->
			<!--                        href="#"-->
			<!--                        role="button"-->
			<!--                        data-bs-toggle="dropdown"-->
			<!--                >-->
			<!--                    <i class="fe fe-bell"> </i>-->
			<!--                </a>-->
			<!--                <div class="dropdown-menu dropdown-menu-end shadow">-->
			<!--                    <div>-->
			<!--                    </div>-->
			<!--                </div>-->
			<!--            </li>-->
			<li class="dropdown ms-2" th:if="${isAuthenticated}">
				<a
						class="rounded-circle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
				>
					<div class="avatar avatar-md avatar-indicators avatar-online">
						<img
								alt="avatar"
								src="#"
								th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

								class="rounded-circle"
						/>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-end shadow">
					<div class="dropdown-item">
						<div class="d-flex">
							<div class="avatar avatar-md avatar-indicators avatar-online">
								<img
										alt="avatar"
										src="#"
										th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

										class="rounded-circle"
								/>
							</div>
							<div class="ms-3 lh-1">
								<h5 class="mb-1" th:text="${user.username}">Your name</h5>
								<p class="mb-0 text-muted" th:text="${user.email}">Your email</p>
							</div>
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<!--                    <ul class="list-unstyled">-->
					<!--                        <li class="dropdown-submenu">-->
					<!--                            <a-->
					<!--                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
					<!--                                    href="#"-->
					<!--                            >-->
					<!--                                <i class="fe fe-circle me-2"></i>Status-->
					<!--                            </a>-->
					<!--                            <ul class="dropdown-menu">-->
					<!--                                <li>-->
					<!--                                    <a class="dropdown-item" href="#">-->
					<!--                                        <span class="badge-dot bg-success me-2"></span>Online-->
					<!--                                    </a>-->
					<!--                                </li>-->
					<!--                                <li>-->
					<!--                                    <a class="dropdown-item" href="#">-->
					<!--                                        <span class="badge-dot bg-secondary me-2"></span>Offline-->
					<!--                                    </a>-->
					<!--                                </li>-->
					<!--                                <li>-->
					<!--                                    <a class="dropdown-item" href="#">-->
					<!--                                        <span class="badge-dot bg-warning me-2"></span>Away-->
					<!--                                    </a>-->
					<!--                                </li>-->
					<!--                                <li>-->
					<!--                                    <a class="dropdown-item" href="#">-->
					<!--                                        <span class="badge-dot bg-danger me-2"></span>Busy-->
					<!--                                    </a>-->
					<!--                                </li>-->
					<!--                            </ul>-->
					<!--                        </li>-->

					<!--                        <li>-->
					<!--                            <a class="dropdown-item" href="#" th:href="@{/users/update-profile}">-->
					<!--                                <i class="fe fe-user me-2"></i>Profile-->
					<!--                            </a>-->
					<!--                        </li>-->
					<!--                    </ul>-->
					<div class="dropdown-divider"></div>
					<ul class="list-unstyled">
						<li>
							<a class="dropdown-item" href="/" th:href="@{/auth/logout}">
								<i class="fe fe-power me-2"></i>Sign Out
							</a>
						</li>
					</ul>
				</div>
			</li>


		</ul>
		<!-- Button -->
		<button
			class="navbar-toggler collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-default"
			aria-controls="navbar-default"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="icon-bar top-bar mt-0"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="navbar-default">
			<ul class="navbar-nav">

				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarPages"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Pages
					</a>
					<ul
						class="dropdown-menu dropdown-menu-arrow"
						aria-labelledby="navbarPages"
					>
					<li class="dropdown-submenu dropend">
						<a
							class="dropdown-item dropdown-list-group-item dropdown-toggle"
							href="#"
						>
							Addons
						</a>
						<ul class="dropdown-menu">
							<li>
								<a
									class="dropdown-item"
									href="#"
									th:href="@{/addons/filter}"
								>
									Filter Addons
								</a>
							</li>
							<li>
								<a
									class="dropdown-item"
									href="#"
									th:href="@{/addons/new}"
								>
									Build your own
								</a>
							</li>

						</ul>
					</li>

					<li>
						<hr class="mx-3" />
					</li>


					<li>
						<a class="dropdown-item" href="#">
							About
						</a>
					</li>


					</ul>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarAccount"
						data-bs-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Accounts
					</a>
					<ul
						class="dropdown-menu dropdown-menu-arrow"
						aria-labelledby="navbarAccount"
					>
						<li>
							<h4 class="dropdown-header">Accounts</h4>
						</li>

						<li class="dropdown-submenu dropend">
							<a
								class="dropdown-item dropdown-list-group-item dropdown-toggle"
								href="#"
							>
								Users
							</a>
							<ul class="dropdown-menu">
								<li class="text-wrap">
									<h5 class="dropdown-header text-dark">Students</h5>
									<p class="dropdown-text mb-0">
										Users dashboard to manage your addons.
									</p>
								</li>
								<li>
									<hr class="mx-3" />
								</li>
								<li>
									<a
										class="dropdown-item"
										href="#"
										th:href="@{/users/dashboard}"
									>
										Dashboard</a
									>
								</li>

							</ul>
						</li>
						<li class="dropdown-submenu dropend">
							<a
								class="dropdown-item dropdown-list-group-item dropdown-toggle"
								href="#"
							>
								Admin
							</a>
							<ul class="dropdown-menu">
								<li class="text-wrap">
									<h5 class="dropdown-header text-dark">Master Admin</h5>
									<p class="dropdown-text mb-0">
										Admin dashboard to manage addons and users.
									</p>
								</li>
								<li>
									<hr class="mx-3" />
								</li>
								<li class="px-3 d-grid">
									<a

										href="#" th:href="@{/users}"
										class="btn btn-sm btn-primary"
										>Go to Dashboard</a
									>
								</li>
							</ul>
						</li>
						<li>
							<hr class="mx-3" />
						</li>
						<li th:unless="${isAuthenticated}">
							<a class="dropdown-item" href="#" th:href="@{/auth/login}">
								Sign In
							</a>
						</li>
						<li th:unless="${isAuthenticated}">
							<a class="dropdown-item" href="#" th:href="@{/auth/register}">
								Sign Up
							</a>
						</li>
<!--						<li th:unless="${isAuthenticated}">-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/forget-password.html"-->
<!--							>-->
<!--								Forgot Password-->
<!--							</a>-->
<!--						</li>-->
						<li>
							<a class="dropdown-item" href="#" th:href="@{users/update-profile}">
								Edit Profile
							</a>
						</li>

					</ul>
				</li>

			</ul>
			<form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center" th:action="@{/addons/filter}">
				<span class="position-absolute ps-3 search-icon">
					<i class="fe fe-search"></i>
				</span>
				<input
					type="search"
					class="form-control ps-6"
					placeholder="Search Addons"
					th:name="search"
				/>
			</form>
			<ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">


				<li class="dropdown ms-2 d-inline-block" th:if="${isAuthenticated}">
					<a
						class="rounded-circle"
						href="#"
						data-bs-toggle="dropdown"
						data-bs-display="static"
						aria-expanded="false"
					>
						<div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
							<img
								alt="avatar"
								src="#"
								th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
								class="rounded-circle"
							/>
						</div>
						<div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
							<img
									alt="avatar"
									src="#"
									th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
									class="rounded-circle"
							/>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="dropdown-item">
							<div class="d-flex">

								<div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
									<img
										alt="avatar"
										src="#"
										th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
										class="rounded-circle"
									/>
								</div>
								<div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
									<img
											alt="avatar"
											src="#"
											th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
											class="rounded-circle"
									/>
								</div>
								<div class="ms-3 lh-1">
									<h5 class="mb-1" th:text="${user.username}">Annette Black</h5>
									<p class="mb-0 text-muted" th:text="${user.email}">annette@geeksui.com</p>
								</div>
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<ul class="list-unstyled">
							<li class="dropdown-submenu dropstart-lg">
								<a
									class="dropdown-item dropdown-list-group-item dropdown-toggle"
									href="#"
								>
									<i class="fe fe-circle me-2"></i>Status
								</a>
								<ul class="dropdown-menu">
									<li th:unless="${user.isBlocked()}">
										<a class="dropdown-item" href="#" >
											<span class="badge-dot bg-success me-2"></span>Active
										</a>
									</li>
<!--									<li th:if="${user.isBlocked()}">-->
<!--										<a class="dropdown-item" href="#">-->
<!--											<span class="badge-dot bg-secondary me-2"></span>Blocked-->
<!--										</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a class="dropdown-item" href="#">-->
<!--											<span class="badge-dot bg-warning me-2"></span>Away-->
<!--										</a>-->
<!--									</li>-->
									<li th:if="${user.isBlocked()}">
										<a class="dropdown-item" href="#">
											<span class="badge-dot bg-danger me-2"></span>Blocked
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a
									class="dropdown-item"
									href="#" th:href="@{/users/update-profile}"
								>
									<i class="fe fe-user me-2"></i>Profile
								</a>
							</li>
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/student-subscriptions.html"-->
<!--								>-->
<!--									<i class="fe fe-star me-2"></i>Subscription-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a class="dropdown-item" href="#">-->
<!--									<i class="fe fe-settings me-2"></i>Settings-->
<!--								</a>-->
<!--							</li>-->
						</ul>
						<div class="dropdown-divider"></div>
						<ul class="list-unstyled">
							<li>
								<a class="dropdown-item" href="#" th:href="@{/auth/logout}">
									<i class="fe fe-power me-2"></i>Sign Out
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

  <!-- Page header -->
  <div class="bg-primary py-4 py-lg-6">


	  <div class="container">
		  <a th:href="@{/addons/filter}"></a>
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div>
            <h1 class="mb-0 text-white display-4">Filter Page</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
          <div class="row d-lg-flex justify-content-between align-items-center">
            <div class="col-md-6 col-lg-8 col-xl-9 ">
              <h4 class="mb-3 mb-lg-0" th:text="'Displaying ' + ${addons.size()} + ' Addons'">Displaying 9 out of 68 courses</h4>
            </div>
            <div class="d-inline-flex col-md-6 col-lg-4 col-xl-3 ">
              <div class="me-2">
                <!-- Nav -->
                <div class="nav btn-group flex-nowrap" role="tablist">
                  <button class="btn btn-outline-white active" data-bs-toggle="tab" data-bs-target="#tabPaneGrid" role="tab"
                    aria-controls="tabPaneGrid" aria-selected="true">
                    <span class="fe fe-grid"></span>
                  </button>
                  <button class="btn btn-outline-white" data-bs-toggle="tab" data-bs-target="#tabPaneList" role="tab"
                    aria-controls="tabPaneList" aria-selected="false">
                    <span class="fe fe-list"></span>
                  </button>
                </div>
              </div>
              <!-- List  -->
<!--				<form th:action="@{/addons/filter}">-->
					<select class="selectpicker" data-width="100%" id="sortSelector">
						<option name="sort" value="">Sort by</option>
						<option name="sort" value="downloads">Downloads</option>
						<option name="sort" value="upload date">Upload date</option>
						<option name="sort" value="name">Name</option>
						<!--                <option value="Highest Rated">Highest Rated</option>-->
					</select>
<!--				</form>-->

				<script>
					document.getElementById('sortSelector').addEventListener('change', function (){
						window.location.href = 'http://ec2-3-67-37-92.eu-central-1.compute.amazonaws.com/addons/filter?sort=' + this.value;
					});
				</script>

            </div>
          </div>
        </div>




        <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
          <!-- Card -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h4 class="mb-0">Filter</h4>
            </div>
            <!-- Card body -->
            <div class="card-body" >
              <span class="dropdown-header px-0 mb-2"> Ide</span>
              <!-- Checkbox -->
				<form  >
					<div class="form-check mb-1" th:each="ide : ${ides}" >
						<input type="checkbox" class="form-check-input" id="reactCheck" th:value="${ide.name}" name="ide" >
						<label class="form-check-label" for="reactCheck" th:text="${ide.name}">React</label>
					</div>
				</form>

				<script>
					document.addEventListener('DOMContentLoaded', function () {

						let cbs = document.getElementsByName('ide');

						for (let i = 0; i < cbs.length; i++) {
							cbs[i].addEventListener('change', changeHref);
						}
					})
					function changeHref(e) {
						window.location.href = 'http://ec2-3-67-37-92.eu-central-1.compute.amazonaws.com/addons/filter?ide=' + this.value;
					}
				</script>



               <!-- Checkbox -->

            </div>
            <!-- Card body -->
<!--            <div class="card-body border-top">-->
<!--              <span class="dropdown-header px-0 mb-2"> Ratings</span>-->
<!--              &lt;!&ndash; Custom control &ndash;&gt;-->
<!--              <div class="custom-control custom-radio mb-1">-->
<!--                <input type="radio" class="form-check-input" id="starRadio1" name="customRadio">-->
<!--                <label class="form-check-label" for="starRadio1">-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star text-warning "></i>-->
<!--                  <span class="fs-6">4.5 & UP</span>-->
<!--                </label>-->
<!--              </div>-->
<!--              &lt;!&ndash; Custom control &ndash;&gt;-->
<!--              <div class="custom-control custom-radio mb-1">-->
<!--                <input type="radio" class="form-check-input" id="starRadio2" name="customRadio" checked>-->
<!--                <label class="form-check-label" for="starRadio2"> <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star text-warning "></i>-->
<!--                  <span class="fs-6">4.0 & UP</span></label>-->
<!--              </div>-->
<!--              &lt;!&ndash; Custom control &ndash;&gt;-->
<!--              <div class="custom-control custom-radio mb-1">-->
<!--                <input type="radio" class="form-check-input" id="starRadio3" name="customRadio">-->
<!--                <label class="form-check-label" for="starRadio3"> <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star text-warning "></i>-->
<!--                  <span class="fs-6">3.5 & UP</span></label>-->
<!--              </div>-->
<!--              &lt;!&ndash; Custom control &ndash;&gt;-->
<!--              <div class="custom-control custom-radio mb-1">-->
<!--                <input type="radio" class="form-check-input" id="starRadio4" name="customRadio">-->
<!--                <label class="form-check-label" for="starRadio4"> <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star me-n1 text-warning"></i>-->
<!--                  <i class="mdi mdi-star text-warning "></i>-->
<!--                  <span class="fs-6">3.0 & UP</span></label>-->
<!--              </div>-->
<!--            </div>-->
            <!-- Card body -->
<!--            <div class="card-body border-top">-->
<!--              <span class="dropdown-header px-0 mb-2"> Skill Level</span>-->
<!--               &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--              <div class="form-check mb-1">-->
<!--                <input type="checkbox" class="form-check-input" id="allTwoCheck">-->
<!--                <label class="form-check-label" for="allTwoCheck">All Level</label>-->
<!--              </div>-->
<!--               &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--              <div class="form-check mb-1">-->
<!--                <input type="checkbox" class="form-check-input" id="beginnerTwoCheck" checked>-->
<!--                <label class="form-check-label" for="beginnerTwoCheck">Beginner</label>-->
<!--              </div>-->
<!--               &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--              <div class="form-check mb-1">-->
<!--                <input type="checkbox" class="form-check-input" id="intermediateCheck">-->
<!--                <label class="form-check-label" for="intermediateCheck">Intermediate</label>-->
<!--              </div>-->
<!--               &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--              <div class="form-check mb-1">-->
<!--                <input type="checkbox" class="form-check-input" id="AdvancedTwoCheck">-->
<!--                <label class="form-check-label" for="AdvancedTwoCheck">Advance</label>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <!-- Tab content -->
        <div class="col-xl-9 col-lg-9 col-md-8 col-12">
          <div class="tab-content">
            <!-- Tab pane -->
            <div class="tab-pane fade show active pb-4 " id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-12" th:each="addon: ${addons}">
                  <!-- Card -->
                  <div class="card mb-4 card-hover">
                    <a href="#" th:href="@{'/addons/'+${addon.id}}" class="card-img-top"><img src="#" th:src="${addon.imageURI}" alt=""
                        class="card-img-top rounded-top-md"></a>
                    <!-- Card body -->
                    <div class="card-body">
                      <h4 class="mb-2 text-truncate-line-2 "><a href="#" th:href="@{'/addons/'+${addon.id}}" class="text-inherit" th:text="${addon.name}">GraphQL:
                          introduction to graphQL for
                          beginners</a></h4>
                           <!-- List inline -->
                      <ul class="mb-3 list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1" th:text="' Uploded on: '+${#dates.format(addon.uploadDate, 'd MMM, yyyy')}"></i>
                        </li>
						  <li class="list-inline-item"><i class="fe fe-download me-1" th:text="'  '+${addon.downloads}+' Downloads'"></i> </li >

<!--                        <li class="list-inline-item"><svg class= width="16" height="16" viewBox="0 0 16 16"-->
<!--                            fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">-->
<!--                            </rect>-->
<!--                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE">-->
<!--                            </rect>-->
<!--                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE">-->
<!--                            </rect>-->
<!--                          </svg> Advance </li>-->
                      </ul>
                      <div class="lh-1">
                        <span>
							<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i le addon.roundedRate}" class="mdi mdi-star text-warning me-n1"></i>
                            </th:block>

							<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i gt addon.roundedRate}" class="mdi mdi-star text-light me-n1"></i>
                            </th:block>
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning"></i>-->
                        </span>
                        <span class="text-warning" th:text="${#numbers.formatDecimal(addon.rating,1,1)}">4.5</span>
                        <span class="fs-6 text-muted" th:text="'('+${addon.raters}+')'">(9,300)</span>
                      </div>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="#" th:src="${addon.user.imageURI != null ? addon.user.imageURI : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span th:text="${addon.user.username}">Ted Hawkins</span>
                        </div>
<!--                        <div class="col-auto">-->
<!--                         <a href="#" class="text-muted bookmark">-->
<!--                    <i class="fe fe-bookmark  "></i>-->
<!--                  </a>-->
<!--                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Card -->

                </div>
              </div>
            </div>
            <!-- Tab pane -->
            <div class="tab-pane fade pb-4" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList" >
              <!-- Card -->
              <div class="card mb-4 card-hover" th:each="addon: ${addons}">
                <div class="row g-0" >
                  <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"


					 th:style="'background-image: url(' +${addon.imageURI} + ')'"

					 href="#" th:href="@{'/addons/'+${addon.id}}">
                    <img src="#" th:src="${addon.imageURI}" alt="..." class="img-fluid d-lg-none invisible">
                  </a>
                  <div class="col-lg-9 col-md-12 col-12">
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="mb-2 text-truncate-line-2 "><a href="#" th:href="@{'/addons/'+${addon.id}}" th:text="${addon.name}" class="text-inherit">Vue.js Components
                          Fundamentals</a></h3>
                           <!-- List inline -->
                      <ul class="mb-5 list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1" th:text="' Uploded on: '+${#dates.format(addon.uploadDate, 'd MMM, yyyy')}"></i>
                        </li>
						  <li class="list-inline-item"><i class="fe fe-download me-1" th:text="'  '+${addon.downloads}+' Downloads'"></i> </li >
<!--                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"-->
<!--                            fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">-->
<!--                            </rect>-->
<!--                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">-->
<!--                            </rect>-->
<!--                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">-->
<!--                            </rect>-->
<!--                          </svg>Beginner </li>-->
                        <li class="list-inline-item"> <span>
							<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i le addon.roundedRate}" class="mdi mdi-star text-warning me-n1"></i>
                            </th:block>

							<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i gt addon.roundedRate}" class="mdi mdi-star text-light me-n1"></i>
                            </th:block>
<!--                            <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                            <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                            <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                            <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                            <i class="mdi mdi-star text-warning"></i>-->
                          </span>
                          <span class="text-warning" th:text="${#numbers.formatDecimal(addon.rating,1,1)}">4.5</span>
                          <span class="fs-6 text-muted" th:text="'('+${addon.raters}+')'" >(9,300)</span></li>
                      </ul>
                       <!-- Row -->
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="#" th:src="${addon.user.imageURI != null ? addon.user.imageURI : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span th:text="${addon.user.username}">Morris Mccoy</span>
                        </div>
<!--                        <div class="col-auto">-->
<!--                         <a href="#" class="text-muted bookmark">-->
<!--                    <i class="fe fe-bookmark  "></i>-->
<!--                  </a>-->
<!--                        </div>-->
                          </div>
                        <div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Card -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row align-items-center g-0 border-top py-2">
            <!-- Desc -->
            <div class="col-md-6 col-12 text-center text-md-start">
                <span>© 2021 Geeks. All Rights Reserved.</span>
            </div>
              <!-- Links -->
            <div class="col-12 col-md-6">
                <nav class="nav nav-footer justify-content-center justify-content-md-end">
                    <a class="nav-link active ps-0" href="#">Privacy</a>
                    <a class="nav-link" href="#">Terms </a>
                    <a class="nav-link" href="#">Feedback</a>
                    <a class="nav-link" href="#">Support</a>
                </nav>
            </div>
        </div>
    </div>
</div>


  <!-- Scripts -->
  <!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>








<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>
</body>

</html>