<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Addonis is a student final graduation project of Telerik Academy- software bootcamp. Created by B. Benev and D. Planinski"/>


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="../assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.min.css">
    <title>Addon single</title>
</head>

<body>
<!-- Page Content -->
<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="#" th:href="@{/}"
        ><img src="../assets/images/brand/logo/logo.svg" alt=""
        /></a>
        <!-- Mobile view nav wrap -->
        <ul
                class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
        >
            <li class="dropdown stopevent">
<!--                <a-->
<!--                        class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"-->
<!--                        href="#"-->
<!--                        role="button"-->
<!--                        data-bs-toggle="dropdown"-->
<!--                >-->
<!--                    <i class="fe fe-bell"> </i>-->
<!--                </a>-->
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div>

                        <ul class="list-group list-group-flush notification-list-scroll">
                            <li class="list-group-item bg-light">
                                <div class="row">
                                    <div class="col">
                                    </div>
                                    <div class="col-auto text-center me-2">
                                        <a
                                                href="#"
                                                class="badge-dot bg-info"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Mark as read"
                                        >
                                        </a>
                                        <div>
                                            <a
                                                    href="#"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"

                                                    title="Remove"
                                            >
                                                <i class="fe fe-x text-muted"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="dropdown ms-2">
                <a
                        class="rounded-circle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                >
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div class="dropdown-item">
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li class="dropdown-submenu">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                <i class="fe fe-circle me-2"></i>Status
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="/" th:href="@{/auth/logout}">
                                <i class="fe fe-power me-2"></i>Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- Button -->
        <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarBrowse"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-bs-display="static"
                    >
                        Browse
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-arrow"
                            aria-labelledby="navbarBrowse"
                    >
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Web Development
                            </a>

                            <ul class="dropdown-menu">
                                Under construction
                            </ul>
                        </li>
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Design
                            </a>
                            <ul class="dropdown-menu">
                                Under construction
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarLanding"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Landings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarLanding">
                        <li>
                            <h4 class="dropdown-header">Under construction</h4>
                        </li>

                    </ul>
                </li>
                <li th:unless="${isAuthenticated}" class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarAccount"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Accounts
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-arrow"
                            aria-labelledby="navbarAccount"
                    >
                        <li class="dropdown-submenu dropend">
                        </li>
                        <li>
                            <hr class="mx-3"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" th:href="@{/auth/login}">
                                Sign In
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" th:href="@{/auth/register}">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
                <li class="dropdown d-inline-block stopevent"></li>

                <li th:if="${isAuthenticated}" class="dropdown ms-2 d-inline-block">
                    <a
                            class="rounded-circle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false"
                    >
                        <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="rounded-circle"
                            />
                        </div>
                        <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="rounded-circle"
                            />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1" th:text="${loggedUser.username}">Your username</h5>
                                    <p class="mb-0 text-muted" th:text="${loggedUser.email}">Your email</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li class="dropdown-submenu dropstart-lg">
                                <a
                                        class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                        href="#"
                                >
                                    <i class="fe fe-circle me-2"></i>Status
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge-dot bg-success me-2"></span>Online
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge-dot bg-danger me-2"></span>Busy
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="#" th:href="@{/users/update-profile}"
                                >
                                    <i class="fe fe-user me-2"></i>Profile
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="#" th:href="@{/auth/logout}">
                                    <i class="fe fe-power me-2"></i>Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page header -->
<div class="pt-lg-8 pb-lg-16 pt-8 pb-12 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div>
                    <h1 class="text-white display-4 fw-semi-bold" th:text="${addon.name}">Getting Started with
                        JavaScript</h1>
                    <p class="text-white mb-6 lead" th:text="${shortDesc} +'.'">
                        JavaScript is the popular programming language which powers web pages and web applications. This course will get you started coding in JavaScript.
                    </p>
                    <div class="d-flex align-items-center">
                        <span class="text-white ms-3"><i th:text="${addon.ide.name}"></i></span>
                        <span class="text-white ms-3"><i class="fe fe-download me-1"
                                                         th:text="' '+ ${addon.downloads}"></i></span>
                        <span class="ms-4">
								 <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i le addon.roundedRate}" class="mdi mdi-star me-n1 text-warning"></i>
                            </th:block>

                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i gt addon.roundedRate}" class="mdi mdi-star me-n1 text-light"></i>
                            </th:block>
                <span class="text-white" th:text="'('+${addon.raters}+')'">(140)</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="pb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
                <!-- Card -->
                <div class="card rounded-3">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0 p-0">
                        <div>
                            <!-- Nav -->
                            <ul class="nav nav-lb-tab" id="tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="table-tab" data-bs-toggle="pill" href="#table"
                                       role="tab" aria-controls="table" aria-selected="true">Contents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="review-tab" data-bs-toggle="pill" href="#review" role="tab"
                                       aria-controls="review" aria-selected="false">Reviews</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="tab-content" id="tabContent">
                            <div class="tab-pane fade show active" id="table" role="tabpanel"
                                 aria-labelledby="table-tab">
                                <!-- Description -->
                                <div class="mb-4">
                                    <h3 class="mb-2">Descriptions</h3>
                                    <p th:text="${addon.description}">

                                    </p>
                                </div>
                                   <p>Duis facilisis ex a urna blandit ultricies.</p>

                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <!-- Reviews -->
                                <div class="mb-3">
                                    <h3 class="mb-4">How users rated this addon</h3>
                                    <div class="row align-items-center">
                                        <div class="col-auto text-center">
                                            <h3 class="display-2 fw-bold"
                                                th:text="${#numbers.formatDecimal(addon.rating,1,1)}">4.5</h3>
                                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                                <i th:if="${i le addon.roundedRate}"
                                                   class="mdi mdi-star me-n1 text-warning"></i>
                                            </th:block>

                                            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                                <i th:if="${i gt addon.roundedRate}"
                                                   class="mdi mdi-star me-n1 text-light"></i>
                                            </th:block>
                                            <p class="mb-0 fs-6" th:text="'(Based on '+${addon.raters}+' rates)'">
                                                (Based on 27 rates)</p>
                                        </div>

                                        <div class="col-md-auto col-6 order-2 order-md-3">
                                            <!-- Rating -->
                                            <div>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <span class="ms-1" th:text="${percents[4]}+'%'">53%</span>
                                            </div>
                                            <div>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <span class="ms-1" th:text="${percents[3]}+'%'">36%</span>
                                            </div>
                                            <div>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <span class="ms-1" th:text="${percents[2]}+'%'">9%</span>
                                            </div>
                                            <div>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <span class="ms-1" th:text="${percents[1]}+'%'">3%</span>
                                            </div>
                                            <div>
                                                <i class="mdi mdi-star me-n1 text-warning"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <i class="mdi mdi-star me-n1 text-light"></i>
                                                <span class="ms-1" th:text="${percents[0]}+'%'">2%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
                <!-- Card -->
                <div class="card mb-3 mb-4">
                    <div class="p-1">
                        <div class="d-flex justify-content-center position-relative rounded py-10 border-white border rounded-3 bg-cover"
                             th:style="'background-image:url(' + ${addonImage} + ');'">
                        </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="d-grid">
                            <a href="#" class="btn btn-primary mb-2  " th:href="@{'/addons/download'(id=${addon.id})}">Download</a>
                            <a style="background-color:#f1c94f" class="btn btn-primary mb-2  " href="#"
                               th:href="@{'/addons/rate'(id=${addon.id})}">Rate</a>

                            <a style="background-color:#84e08c" class="btn btn-primary mb-2  " href="#"
                               th:href="@{'/addons/update'(id=${addon.id})}">Update</a>
                            <a style="background-color:#ef5c40" class="btn btn-primary mb-2  " href="#"
                               th:href="@{'/addons/delete'(id=${addon.id})}">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <div class="card mb-4">
                    <div>
                        <!-- Card header -->
                        <div class="card-header">
                            <h4 class="mb-0">Tags</h4>
                        </div>

                        <span style="padding: 0.5rem; margin: 0.5rem"
                                th:each="t : ${addon.getTags()}"
                                th:value="${t.id}"
                                th:text="${t.name.toString() + '  '}"
                                class="badge bg-gray-300 fs-6
                        text-black ms-4">tag coming soon</span></h3>
                    </div>
                </div>
                <div class="card mb-4">
                    <div>
                        <!-- Card header -->
                        <div class="card-header">
                            <h4 class="mb-0">Project details</h4>
                        </div>
                        <ul class="list-group list-group-flush" th:with="link=(${addon.originLocation.toString()})">
                            <li class="list-group-item bg-transparent"><i class="fab fa-github"></i>
                                <a style="color: #0a53be" th:href="@{${link}}">gitHubLink here</a>
                            </li>

                            <li class="list-group-item bg-transparent">
                                <i class="iconify" data-icon="octicon:git-commit-16"> </i>
                                <a style="color: #0a53be" th:href="@{${link} + '/commits'}"
                                   th:text="' Last commit on: '+${#dates.format(github.lastCommitDate, 'd MMM, yyyy')}"></a>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <i class="iconify" data-icon="octicon:git-pull-request-24"></i>
                                <a style="color: #0a53be" th:href="@{${link} + '/pulls'}"
                                   th:text="' Pull requests ' + ${github.pullRequests}"></a>
                            </li>
                            <li class="list-group-item bg-transparent">
                                <i class="iconify" data-icon="octicon:issue-opened-24"></i>
                                <a style="color: #0a53be" th:href="@{${link} + '/issues'}"
                                   th:text="' Open issues ' + ${github.openIssues}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Card -->
                <div class="card">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="position-relative">
                                <img src="../assets/images/avatar/avatar-1.jpg"
                                     th:src="${userImage != null ? userImage : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                     alt="" class="rounded-circle avatar-xl"/>
                            </div>
                            <div class="ms-4">
                                <h4 class="mb-0" th:text="${user.username}">Jenny Wilson</h4>
                                <p class="mb-1 fs-6">Creator</p>
                            </div>
                        </div>
                        <div class="border-top row mt-3 border-bottom mb-3 g-0">
                            <div class="col">
                                <div class="pe-1 ps-2 py-3">
                                    <h5>Uploaded Addons</h5>
                                    <span class="mb-0" th:text="${userAddons}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="pt-12 pb-3">
            <div class="row d-md-flex align-items-center mb-4">
                <div class="col-12">
                    <h2 class="mb-0">Check out other addons</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12" th:each="addon : ${addonsFour}">
                    <!-- Card -->
                    <div class="card mb-4 card-hover">
                        <a href="course-single.html" th:href="@{'/addons/'+${addon.id}}" class="card-img-top"><img
                                src="../assets/images/course/course-react.jpg"
                                th:src="@{'/addons/image'(id=${addon.id})}" alt="" class="card-img-top rounded-top-md"/></a>
                        <!-- Card body -->
                        <div class="card-body">
                            <h4 class="mb-2 text-truncate-line-2"><a href="course-single.html"
                                                                     th:href="@{'/addons/'+${addon.id}}"
                                                                     class="text-inherit" th:text="${addon.name}">Addon Name</a></h4>
                            <ul class="mb-3 list-inline">
                                <li class="list-inline-item"><i class="far fa-clock me-1"
                                                                th:text="' Uploded on: '+${#dates.format(addon.uploadDate, 'd MMM, yyyy')}"></i>
                                </li>
                                <li class="list-inline-item"><i class="fe fe-download me-1"
                                                                th:text="'  '+${addon.downloads}+' Downloads'"></i>
                                </li>
                            </ul>
                            <div class="lh-1">
                                    <span>
										<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                            <i th:if="${i le addon.roundedRate}"
                                               class="mdi mdi-star text-warning me-n1"></i>
                                        </th:block>

							            <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                            <i th:if="${i gt addon.roundedRate}"
                                               class="mdi mdi-star text-light me-n1"></i>
                                        </th:block>
                  </span>
                                <span class="text-warning"
                                      th:text="${#numbers.formatDecimal(addon.rating,1,1)}">4.5</span>
                                <span class="fs-6 text-muted" th:text="'('+${addon.raters}+')'">(7,700)</span>
                            </div>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer">
                            <div class="row align-items-center g-0">
                                <div class="col-auto">
                                    <img src="../assets/images/avatar/avatar-1.jpg"
                                         th:src="${addon.user.imageURI != null ? addon.user.imageURI : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                         class="rounded-circle avatar-xs" alt=""/>
                                </div>
                                <div class="col ms-2">
                                    <span th:text="${addon.user.username}">Morris Mccoy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Card -->

                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Card -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<!-- Footer -->
<div th:replace="pages/footer-form.html :: footer">Footer</div>


<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>


<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>
</body>

</html>