<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Geeks is a fully responsive and yet modern premium bootstrap template. Geek is feature-rich components and beautifully designed pages that help you create the best possible website and web application projects." />
<meta name="keywords" content="Geeks UI, bootstrap, bootstrap 5, Course, Sass, landing, Marketing, admin themes, bootstrap admin, bootstrap dashboard, ui kit, web app, multipurpose" />




<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">


<!-- Libs CSS -->
<link href="../assets/fonts/feather/feather.css" rel="stylesheet">
<link href="../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet" />
<link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
<link href="../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
<link href="../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
<link href="../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
<link href="../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
<link href="../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">







<!-- Theme CSS -->
<link rel="stylesheet" href="../assets/css/theme.min.css">
  <title>User Dashboard | Adonis - IDE extensions</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-default">
	<div class="container-fluid px-0">
		<a class="navbar-brand" href="../index.html" th:href="@{/}"
			><img src="../assets/images/brand/logo/logo.svg" alt=""
		/></a>
		<!-- Mobile view nav wrap -->
		<ul
			class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
		>
			<li class="dropdown stopevent">
				<a
					class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"
					href="#"
					role="button"
					data-bs-toggle="dropdown"
				>
					<i class="fe fe-bell"> </i>
				</a>
				<div class="dropdown-menu dropdown-menu-end shadow">
					<div>
						<div
							class="border-bottom px-3 pb-3 d-flex justify-content-between align-items-center"
						>
							<span class="h5 mb-0">Notifications</span>
							<a href="# " class="text-muted"
								><span class="align-middle"
									><i class="fe fe-settings me-1"></i></span
							></a>
						</div>
						<ul class="list-group list-group-flush notification-list-scroll">
							<li class="list-group-item bg-light">
								<div class="row">
									<div class="col">
										<a href="#" class="text-body">
										<div class="d-flex">
											<img
												src="../assets/images/avatar/avatar-1.jpg"
												alt=""
												class="avatar-md rounded-circle"
											/>
											<div class="ms-3">
												<h5 class="fw-bold mb-1">Kristin Watson:</h5>
												<p class="mb-3">
													Krisitn Watsan like your comment on course Javascript
													Introduction!
												</p>
												<span class="fs-6 text-muted">
													<span
														><span
															class="fe fe-thumbs-up text-success me-1"
														></span
														>2 hours ago,</span
													>
													<span class="ms-1">2:19 PM</span>
												</span>
											</div>
										</div>
										</a>
									</div>
									<div class="col-auto text-center me-2">
										<a
											href="#"
											class="badge-dot bg-info"
											data-bs-toggle="tooltip"
											data-bs-placement="top"
											title="Mark as read"
										>
										</a>
										<div>
											<a
												href="#"
												data-bs-toggle="tooltip"
												data-bs-placement="top"

												title="Remove"
											>
												<i class="fe fe-x text-muted"></i>
											</a>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col">
										<a href="#" class="text-body">
										<div class="d-flex">
											<img
												src="../assets/images/avatar/avatar-2.jpg"
												alt=""
												class="avatar-md rounded-circle"
											/>
											<div class="ms-3">
												<h5 class="fw-bold mb-1">Brooklyn Simmons</h5>
												<p class="mb-3">
													Just launched a new Courses React for Beginner.
												</p>
												<span class="fs-6 text-muted">
													<span
														><span
															class="fe fe-thumbs-up text-success me-1"
														></span
														>Oct 9,</span
													>
													<span class="ms-1">1:20 PM</span>
												</span>
											</div>
										</div>
										</a>
									</div>
									<div class="col-auto text-center me-2">
										<a
											href="#"
											class="badge-dot bg-secondary"
											data-bs-toggle="tooltip"
											data-bs-placement="top"

											title="Mark as unread"
										>
										</a>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col">
										<a href="#" class="text-body">
										<div class="d-flex">
											<img
												src="../assets/images/avatar/avatar-3.jpg"
												alt=""
												class="avatar-md rounded-circle"
											/>
											<div class="ms-3">
												<h5 class="fw-bold mb-1">Jenny Wilson</h5>
												<p class="mb-3">
													Krisitn Watsan like your comment on course Javascript
													Introduction!
												</p>
												<span class="fs-6 text-muted">
													<span
														><span class="fe fe-thumbs-up text-info me-1"></span
														>Oct 9,</span
													>
													<span class="ms-1">1:56 PM</span>
												</span>
											</div>
										</div>
										</a>
									</div>
									<div class="col-auto text-center me-2">
										<a
											href="#"
											class="badge-dot bg-secondary"
											data-bs-toggle="tooltip"
											data-bs-placement="top"

											title="Mark as unread"
										>
										</a>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col">
										<a href="#" class="text-body">
										<div class="d-flex">
											<img
												src="../assets/images/avatar/avatar-4.jpg"
												alt=""
												class="avatar-md rounded-circle"
											/>
											<div class="ms-3">
												<h5 class="fw-bold mb-1">Sina Ray</h5>
												<p class="mb-3">
													You earn new certificate for complete the Javascript
													Beginner course.
												</p>
												<span class="fs-6 text-muted">
													<span
														><span class="fe fe-award text-warning me-1"></span
														>Oct 9,</span
													>
													<span class="ms-1">1:56 PM</span>
												</span>
											</div>
										</div>
										</a>
									</div>
									<div class="col-auto text-center me-2">
										<a
											href="#"
											class="badge-dot bg-secondary"
											data-bs-toggle="tooltip"
											data-bs-placement="top"

											title="Mark as unread"
										>
										</a>
									</div>
								</div>
							</li>
						</ul>
						<div class="border-top px-3 pt-3 pb-0">
							<a
								href="../pages/notification-history.html"
								class="text-link fw-semi-bold"
								>See all Notifications</a
							>
						</div>
					</div>
				</div>
			</li>
			<li class="dropdown ms-2">
				<a
					class="rounded-circle"
					href="#"
					role="button"
					data-bs-toggle="dropdown"
				>
					<div class="avatar avatar-md avatar-indicators avatar-online">
						<img
							alt="avatar"
							src="../assets/images/avatar/avatar-1.jpg"
							class="rounded-circle"
						/>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-end shadow">
					<div class="dropdown-item">
						<div class="d-flex">
							<div class="avatar avatar-md avatar-indicators avatar-online">
								<img
									alt="avatar"
									src="../assets/images/avatar/avatar-1.jpg"
									class="rounded-circle"
								/>
							</div>
							<div class="ms-3 lh-1">
								<h5 class="mb-1">Annette Black</h5>
								<p class="mb-0 text-muted" th:text="${user.username}">annette@geeksui.com</p>
							</div>
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<ul class="list-unstyled">
						<li class="dropdown-submenu">
							<a
								class="dropdown-item dropdown-list-group-item dropdown-toggle"
								href="#"
							>
								<i class="fe fe-circle me-2"></i>Status
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="#">
										<span class="badge-dot bg-success me-2"></span>Online
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										<span class="badge-dot bg-secondary me-2"></span>Offline
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										<span class="badge-dot bg-warning me-2"></span>Away
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">
										<span class="badge-dot bg-danger me-2"></span>Busy
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a class="dropdown-item" href="../pages/profile-edit.html">
								<i class="fe fe-user me-2"></i>Profile
							</a>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="../pages/student-subscriptions.html"
							>
								<i class="fe fe-star me-2"></i>Subscription
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<i class="fe fe-settings me-2"></i>Settings
							</a>
						</li>
					</ul>
					<div class="dropdown-divider"></div>
					<ul class="list-unstyled">
						<li>
							<a class="dropdown-item" href="../index.html">
								<i class="fe fe-power me-2"></i>Sign Out
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		<!-- Button -->
		<button
			class="navbar-toggler collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-default"
			aria-controls="navbar-default"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="icon-bar top-bar mt-0"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="navbar-default">
			<ul class="navbar-nav">
<!--				<li class="nav-item dropdown">-->
<!--					<a-->
<!--						class="nav-link dropdown-toggle"-->
<!--						href="#"-->
<!--						id="navbarBrowse"-->
<!--						data-bs-toggle="dropdown"-->
<!--						aria-haspopup="true"-->
<!--						aria-expanded="false"-->
<!--						data-bs-display="static"-->
<!--					>-->
<!--						Browse-->
<!--					</a>-->
<!--					<ul-->
<!--						class="dropdown-menu dropdown-menu-arrow"-->
<!--						aria-labelledby="navbarBrowse"-->
<!--					>-->
<!--						<li class="dropdown-submenu dropend">-->
<!--							<a-->
<!--								class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--								href="#"-->
<!--							>-->
<!--								Web Development-->
<!--							</a>-->
<!--							<ul class="dropdown-menu">-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Bootstrap</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										React-->
<!--									</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										GraphQl</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Gatsby</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Grunt</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Svelte</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Meteor</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										HTML5</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Angular</a-->
<!--									>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li class="dropdown-submenu dropend">-->
<!--							<a-->
<!--								class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--								href="#"-->
<!--							>-->
<!--								Design-->
<!--							</a>-->
<!--							<ul class="dropdown-menu">-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Graphic Design</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Illustrator-->
<!--									</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										UX / UI Design</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Figma Design</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Adobe XD</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Sketch</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Icon Design</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/course-category.html"-->
<!--									>-->
<!--										Photoshop</a-->
<!--									>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Mobile App-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								IT Software-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Marketing-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Music-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Life Style-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Business-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/course-category.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Photography-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</li>-->
<!--				<li class="nav-item dropdown">-->
<!--					<a-->
<!--						class="nav-link dropdown-toggle"-->
<!--						href="#"-->
<!--						id="navbarLanding"-->
<!--						data-bs-toggle="dropdown"-->
<!--						aria-haspopup="true"-->
<!--						aria-expanded="false"-->
<!--					>-->
<!--						Landings-->
<!--					</a>-->
<!--					<ul class="dropdown-menu" aria-labelledby="navbarLanding">-->
<!--						<li>-->
<!--							<h4 class="dropdown-header">Landings</h4>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/landings/landing-courses.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Courses-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/landings/course-lead.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Lead Course-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								href="../pages/landings/request-access.html"-->
<!--								class="dropdown-item"-->
<!--							>-->
<!--								Request Access-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="../pages/landings/landing-sass.html" class="dropdown-item">-->
<!--						  SaaS-->
<!--							</a>-->
<!--						 </li>-->

<!--					</ul>-->
<!--				</li>-->
<!--				<li class="nav-item dropdown">-->
<!--					<a-->
<!--						class="nav-link dropdown-toggle"-->
<!--						href="#"-->
<!--						id="navbarPages"-->
<!--						data-bs-toggle="dropdown"-->
<!--						aria-haspopup="true"-->
<!--						aria-expanded="false"-->
<!--					>-->
<!--						Pages-->
<!--					</a>-->
<!--					<ul-->
<!--						class="dropdown-menu dropdown-menu-arrow"-->
<!--						aria-labelledby="navbarPages"-->
<!--					>-->
<!--					<li class="dropdown-submenu dropend">-->
<!--						<a-->
<!--							class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--							href="#"-->
<!--						>-->
<!--							Courses-->
<!--						</a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/course-single.html"-->
<!--								>-->
<!--									Course Single-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/course-single-v2.html"-->
<!--								>-->
<!--									Course Single v2-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/course-resume.html"-->
<!--								>-->
<!--									Course Resume-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/course-category.html"-->
<!--								>-->
<!--									Course Category-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/course-checkout.html"-->
<!--								>-->
<!--									Course Checkout-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/course-filter-list.html"-->
<!--								>-->
<!--									Course List/Grid-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a class="dropdown-item" href="../pages/add-course.html">-->
<!--									Add New Course-->
<!--								</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</li>-->
<!--					<li class="dropdown-submenu dropend">-->
<!--						<a-->
<!--							class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--							href="#"-->
<!--						>-->
<!--							Paths-->
<!--						</a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li>-->
<!--								<a-->
<!--									href="../pages/course-path.html"-->
<!--									class="dropdown-item"-->
<!--								>-->
<!--									Browse Path-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									href="../pages/course-path-single.html"-->
<!--									class="dropdown-item"-->
<!--								>-->
<!--									Path Single-->
<!--								</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</li>-->
<!--					<li class="dropdown-submenu dropend">-->
<!--						<a-->
<!--							class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--							href="#"-->
<!--						>-->
<!--							Blog-->
<!--						</a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li>-->
<!--								<a class="dropdown-item" href="../pages/blog.html">-->
<!--									Listing</a-->
<!--								>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/blog-single.html"-->
<!--								>-->
<!--									Article-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/blog-category.html"-->
<!--								>-->
<!--									Category</a-->
<!--								>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/blog-sidebar.html"-->
<!--								>-->
<!--									Sidebar</a-->
<!--								>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</li>-->

<!--					<li class="dropdown-submenu dropend">-->
<!--						<a-->
<!--							class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--							href="#"-->
<!--						>-->
<!--							Career-->
<!--						</a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li>-->
<!--								<a class="dropdown-item" href="../pages/career.html">-->
<!--									 Overview</a-->
<!--								>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/career-list.html"-->
<!--								>-->
<!--									Listing-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/career-single.html"-->
<!--								>-->
<!--									Opening</a-->
<!--								>-->
<!--							</li>-->

<!--						</ul>-->
<!--					</li>-->
<!--					<li class="dropdown-submenu dropend">-->
<!--						<a-->
<!--							class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--							href="#"-->
<!--						>-->
<!--							Specialty-->
<!--						</a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/coming-soon.html"-->
<!--								>-->
<!--									Coming Soon-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/404-error.html"-->
<!--								>-->
<!--									Error 404-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/maintenance-mode.html"-->
<!--								>-->
<!--									Maintenance Mode-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/terms-condition-page.html"-->
<!--								>-->
<!--									Terms & Conditions-->
<!--								</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</li>-->
<!--					<li>-->
<!--						<hr class="mx-3" />-->
<!--					</li>-->


<!--					<li>-->
<!--						<a class="dropdown-item" href="../pages/about.html">-->
<!--							About-->
<!--						</a>-->
<!--					</li>-->

<!--					<li class="dropdown-submenu dropend">-->
<!--						<a-->
<!--							class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--							href="#"-->
<!--						>-->
<!--						Help Center <span class="badge bg-success ms-1">New</span>-->
<!--						</a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/help-center.html"-->
<!--								>-->
<!--									Help Center-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/help-center-faq.html"-->
<!--								>-->
<!--									FAQ's-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/help-center-guide.html"-->
<!--								>-->
<!--									Guide-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/help-center-guide-single.html"-->
<!--								>-->
<!--								Guide Single-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/help-center-support.html"-->
<!--								>-->
<!--								Support-->
<!--								</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a class="dropdown-item" href="../pages/pricing.html">-->
<!--							Pricing-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a class="dropdown-item" href="../pages/compare-plan.html">-->
<!--							Compare Plan-->
<!--						</a>-->
<!--					</li>-->

<!--					<li>-->
<!--						<a class="dropdown-item" href="../pages/contact.html">-->
<!--							Contact-->
<!--						</a>-->
<!--					</li>-->
<!--					</ul>-->
<!--				</li>-->
<!--				<li class="nav-item dropdown">-->
<!--					<a-->
<!--						class="nav-link dropdown-toggle"-->
<!--						href="#"-->
<!--						id="navbarAccount"-->
<!--						data-bs-toggle="dropdown"-->
<!--						aria-haspopup="true"-->
<!--						aria-expanded="false"-->
<!--					>-->
<!--						Accounts-->
<!--					</a>-->
<!--					<ul-->
<!--						class="dropdown-menu dropdown-menu-arrow"-->
<!--						aria-labelledby="navbarAccount"-->
<!--					>-->
<!--						<li>-->
<!--							<h4 class="dropdown-header">Accounts</h4>-->
<!--						</li>-->
<!--						<li class="dropdown-submenu dropend">-->
<!--							<a-->
<!--								class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--								href="#"-->
<!--							>-->
<!--								Instructor-->
<!--							</a>-->
<!--							<ul class="dropdown-menu">-->
<!--								<li class="text-wrap">-->
<!--									<h5 class="dropdown-header text-dark">Instructor</h5>-->
<!--									<p class="dropdown-text mb-0">-->
<!--										Instructor dashboard for manage courses and earning.-->
<!--									</p>-->
<!--								</li>-->
<!--								<li>-->
<!--									<hr class="mx-3" />-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/dashboard-instructor.html"-->
<!--									>-->
<!--										Dashboard</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-profile.html"-->
<!--									>-->
<!--										Profile</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-courses.html"-->
<!--									>-->
<!--										My Courses-->
<!--									</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-order.html"-->
<!--									>-->
<!--										Orders</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-reviews.html"-->
<!--									>-->
<!--										Reviews</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-students.html"-->
<!--									>-->
<!--										Students</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-payouts.html"-->
<!--									>-->
<!--										Payouts</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/instructor-earning.html"-->
<!--									>-->
<!--										Earning</a-->
<!--									>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li class="dropdown-submenu dropend">-->
<!--							<a-->
<!--								class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--								href="#"-->
<!--							>-->
<!--								Students-->
<!--							</a>-->
<!--							<ul class="dropdown-menu">-->
<!--								<li class="text-wrap">-->
<!--									<h5 class="dropdown-header text-dark">Students</h5>-->
<!--									<p class="dropdown-text mb-0">-->
<!--										Students dashboard to manage your courses and subscriptions.-->
<!--									</p>-->
<!--								</li>-->
<!--								<li>-->
<!--									<hr class="mx-3" />-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/dashboard-student.html"-->
<!--									>-->
<!--										Dashboard</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/student-subscriptions.html"-->
<!--									>-->
<!--										Subscriptions-->
<!--									</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/payment-method.html"-->
<!--									>-->
<!--										Payments</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/billing-info.html"-->
<!--									>-->
<!--										Billing Info</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a class="dropdown-item" href="../pages/invoice.html">-->
<!--										Invoice</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/invoice-details.html"-->
<!--									>-->
<!--										Invoice Details</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/dashboard-student.html"-->
<!--									>-->
<!--										Bookmarked</a-->
<!--									>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a-->
<!--										class="dropdown-item"-->
<!--										href="../pages/dashboard-student.html"-->
<!--									>-->
<!--										My Path</a-->
<!--									>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li class="dropdown-submenu dropend">-->
<!--							<a-->
<!--								class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--								href="#"-->
<!--							>-->
<!--								Admin-->
<!--							</a>-->
<!--							<ul class="dropdown-menu">-->
<!--								<li class="text-wrap">-->
<!--									<h5 class="dropdown-header text-dark">Master Admin</h5>-->
<!--									<p class="dropdown-text mb-0">-->
<!--										Master admin dashboard to manage courses, user, site setting-->
<!--										, and work with amazing apps.-->
<!--									</p>-->
<!--								</li>-->
<!--								<li>-->
<!--									<hr class="mx-3" />-->
<!--								</li>-->
<!--								<li class="px-3 d-grid">-->
<!--									<a-->
<!--										href="../pages/dashboard/admin-dashboard.html"-->
<!--										class="btn btn-sm btn-primary"-->
<!--										>Go to Dashboard</a-->
<!--									>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li>-->
<!--							<hr class="mx-3" />-->
<!--						</li>-->
<!--						<li>-->
<!--							<a class="dropdown-item" href="../pages/sign-in.html">-->
<!--								Sign In-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a class="dropdown-item" href="../pages/sign-up.html">-->
<!--								Sign Up-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/forget-password.html"-->
<!--							>-->
<!--								Forgot Password-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a class="dropdown-item" href="../pages/profile-edit.html">-->
<!--								Edit Profile-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a class="dropdown-item" href="../pages/security.html">-->
<!--								Security-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/social-profile.html"-->
<!--							>-->
<!--								Social Profiles-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/notifications.html"-->
<!--							>-->
<!--								Notifications-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/profile-privacy.html"-->
<!--							>-->
<!--								Privacy Settings-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/delete-profile.html"-->
<!--							>-->
<!--								Delete Profile-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a-->
<!--								class="dropdown-item"-->
<!--								href="../pages/linked-accounts.html"-->
<!--							>-->
<!--								Linked Accounts-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</li>-->
<!--				<li class="nav-item dropdown">-->
<!--					<a-->
<!--						class="nav-link"-->
<!--						href="#"-->
<!--						id="navbarDropdown"-->
<!--						role="button"-->
<!--						data-bs-toggle="dropdown"-->
<!--						aria-haspopup="true"-->
<!--						aria-expanded="false"-->
<!--					>-->
<!--						<i class="fe fe-more-horizontal fs-3"></i>-->
<!--					</a>-->
<!--					<div-->
<!--						class="dropdown-menu dropdown-menu-md"-->
<!--						aria-labelledby="navbarDropdown"-->
<!--					>-->
<!--						<div class="list-group">-->
<!--							<a-->
<!--								class="list-group-item list-group-item-action border-0"-->
<!--								href="../docs/index.html"-->
<!--							>-->
<!--								<div class="d-flex align-items-center">-->
<!--									<i class="fe fe-file-text fs-3 text-primary"></i>-->
<!--									<div class="ms-3">-->
<!--										<h5 class="mb-0">Documentations</h5>-->
<!--										<p class="mb-0 fs-6">-->
<!--											Browse the all documentation-->
<!--										</p>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--							<a-->
<!--								class="list-group-item list-group-item-action border-0"-->
<!--								href="../docs/changelog.html"-->
<!--							>-->
<!--								<div class="d-flex align-items-center">-->
<!--									<i class="fe fe-layers fs-3 text-primary"></i>-->
<!--									<div class="ms-3">-->
<!--										<h5 class="mb-0">-->
<!--											Changelog <span class="text-primary ms-1">v2.2.3</span>-->
<!--										</h5>-->
<!--										<p class="mb-0 fs-6">See what's new</p>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
<!--				</li>-->
			</ul>
<!--			<form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">-->
<!--				<span class="position-absolute ps-3 search-icon">-->
<!--					<i class="fe fe-search"></i>-->
<!--				</span>-->
<!--				<input-->
<!--					type="search"-->
<!--					class="form-control ps-6"-->
<!--					placeholder="Search Courses"-->
<!--				/>-->
<!--			</form>-->
			<ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
<!--				<li class="dropdown d-inline-block stopevent">-->

				<li class="dropdown ms-2 d-inline-block" th:if="${isAuthenticated}">
					<a
						class="rounded-circle"
						href="#"
						data-bs-toggle="dropdown"
						data-bs-display="static"
						aria-expanded="false"
					>
						<div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
							<img
									alt="avatar"
									src="#"
									th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
									class="rounded-circle"
							/>
						</div>
						<div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
							<img
									alt="avatar"
									src="#"
									th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
									class="rounded-circle"
							/>
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="dropdown-item">
							<div class="d-flex">
								<div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${user.isBlocked()}">
									<img
											alt="avatar"
											src="#"
											th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
											class="rounded-circle"
									/>
								</div>
								<div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${user.isBlocked()}">
									<img
											alt="avatar"
											src="#"
											th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
											class="rounded-circle"
									/>
								</div>
								<div class="ms-3 lh-1">
									<h5 class="mb-1" th:text="${user.username}">Annette Black</h5>
									<p class="mb-0 text-muted" th:text="${user.email}">annette@geeksui.com</p>
								</div>
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<ul class="list-unstyled">
<!--							<li class="dropdown-submenu dropstart-lg">-->
<!--								<a-->
<!--									class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--									href="#"-->
<!--								>-->
<!--									<i class="fe fe-circle me-2"></i>Status-->
<!--								</a>-->
<!--								<ul class="dropdown-menu">-->
<!--									<li>-->
<!--										<a class="dropdown-item" href="#">-->
<!--											<span class="badge-dot bg-success me-2"></span>Online-->
<!--										</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a class="dropdown-item" href="#">-->
<!--											<span class="badge-dot bg-secondary me-2"></span>Offline-->
<!--										</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a class="dropdown-item" href="#">-->
<!--											<span class="badge-dot bg-warning me-2"></span>Away-->
<!--										</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a class="dropdown-item" href="#">-->
<!--											<span class="badge-dot bg-danger me-2"></span>Busy-->
<!--										</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</li>-->
							<li>
								<a
									class="dropdown-item"
									href="#"
									th:href="@{/users/update-profile}"
								>
									<i class="fe fe-user me-2"></i>Profile
								</a>
							</li>
<!--							<li>-->
<!--								<a-->
<!--									class="dropdown-item"-->
<!--									href="../pages/student-subscriptions.html"-->
<!--								>-->
<!--									<i class="fe fe-star me-2"></i>Subscription-->
<!--								</a>-->
<!--							</li>-->
<!--							<li>-->
<!--								<a class="dropdown-item" href="#">-->
<!--									<i class="fe fe-settings me-2"></i>Settings-->
<!--								</a>-->
<!--							</li>-->
						</ul>
						<div class="dropdown-divider"></div>
						<ul class="list-unstyled">
							<li>
								<a class="dropdown-item" href="/" th:href="@{/auth/logout}">
									<i class="fe fe-power me-2"></i>Sign Out
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

  <!-- Page Content -->
  <div class="pt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- Bg -->
          <div class=" pt-16 rounded-top-md " style="
                   background: url(../assets/images/background/profile-bg.jpg) no-repeat;
                    background-size: cover;">
          </div>
          <div
            class="d-flex align-items-end justify-content-between bg-white px-4  pt-2 pb-4 rounded-bottom-md shadow-sm ">
            <div class="d-flex align-items-center">
              <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                <img src="#" th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="avatar-xl rounded-circle border border-4 border-white"
                  alt="">
              </div>
              <div class="lh-1">
                <h2 class="mb-0" th:text="${user.username}">Stella Flores
                  <a href="#" class="text-decoration-none" data-bs-toggle="tooltip" data-placement="top" title="Beginner">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                    </svg>
                  </a>
                </h2>
                <p class=" mb-0 d-block" th:text="${user.email}">@stellaflores</p>
              </div>
            </div>
            <div>
              <a href="profile-edit.html" th:href="@{/users/update-profile}" class="btn btn-primary btn-sm d-none d-md-block">Account
                Setting</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="pb-5 py-md-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Side Navbar -->
          <ul class="nav nav-lb-tab mb-6" id="tab" role="tablist">
            <li class="nav-item ms-0" role="presentation">
              <a class="nav-link active " id="bookmarked-tab" data-bs-toggle="pill" href="#bookmarked" role="tab"
                aria-controls="bookmarked" aria-selected="true">My Addons </a>
            </li>
<!--            <li class="nav-item" role="presentation">-->
<!--              <a class="nav-link" id="currentlyLearning-tab" data-bs-toggle="pill" href="#currentlyLearning" role="tab"-->
<!--                aria-controls="currentlyLearning" aria-selected="false">Learning</a>-->
<!--            </li>-->
<!--            <li class="nav-item" role="presentation">-->
<!--              <a class="nav-link" id="path-tab" data-bs-toggle="pill" href="#path" role="tab" aria-controls="path"-->
<!--                aria-selected="false">-->
<!--                Path</a>-->
<!--            </li>-->
          </ul>
          <!-- Tab content -->
          <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="bookmarked" role="tabpanel" aria-labelledby="bookmarked-tab">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12" th:each="addon: ${addons}">
                  <!-- Card -->
                  <div class="card  mb-4 card-hover">
                    <a href="#" th:href="@{'/addons/'+${addon.id}}" class="card-img-top"><img src="#" th:src="${addon.imageURI}" alt=""
                        class="card-img-top rounded-top-md"></a>
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#" th:href="@{'/addons/'+${addon.id}}" class="text-inherit"
																   th:text="${addon.name}">How to easily create a
                          website with React</a>
                      </h3>
                      <!-- List inline -->
                      <ul class="mb-3  list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1"  th:text="' Uploded on: '+${#dates.format(addon.uploadDate, 'd MMM, yyyy')}"> </i>
                        </li>
						  <li class="list-inline-item"><i class="fe fe-download me-1" th:text="'  '+${addon.downloads}+' Downloads'"></i> </li >
<!--                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"-->
<!--                            fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">-->
<!--                            </rect>-->
<!--                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">-->
<!--                            </rect>-->
<!--                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">-->
<!--                            </rect>-->
<!--                          </svg>Beginner </li>-->
                      </ul>
                      <div class="lh-1">
                        <span>

							<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i le addon.roundedRate}" class="mdi mdi-star text-warning me-n1"></i>
                            </th:block>

							<th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                <i th:if="${i gt addon.roundedRate}" class="mdi mdi-star text-light me-n1"></i>
                            </th:block>

<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning me-n1"></i>-->
<!--                          <i class="mdi mdi-star text-warning"></i>-->
                        </span>
                        <span th:text="${#numbers.formatDecimal(addon.rating,1,1)}" class="text-warning">4.5</span>
                        <span class="fs-6 text-muted" th:text="'('+${addon.raters}+')'">(9,300)</span>
                      </div>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="" th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span th:text="${user.username}">Morris Mccoy</span>
                        </div>
<!--                        <div class="col-auto">-->
<!--                          <a href="#" class="removeBookmark">-->
<!--                            <i class="fas fa-bookmark"></i>-->
<!--                          </a>-->
<!--                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
              </div>
              <div class="row">
                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                  <p>You’ve reached the end of the list</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="currentlyLearning" role="tabpanel" aria-labelledby="currentlyLearning-tab">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
                <div class="col-lg-3 col-md-6 col-12">

                </div>
              </div>
              <div class="row">
                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                  <p>You’ve reached the end of the list</p>
                </div>
              </div>
            </div>
            <!-- Path -->
            <div class="tab-pane fade" id="path" role="tabpanel" aria-labelledby="path-tab">
              <div class="row  d-flex justify-content-center text-center">
                <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                  <div class="py-6">
                    <img src="../assets/images/svg/path-img.svg" alt="" class="img-fluid">
                    <div class="mt-4 ">
                      <h2 class="display-4 fw-bold">Coming Soon</h2>
                      <p class="mb-5">The designer working on our design so for now we schedule it
                        to come soon.
                        we release it soon for you. Thank you for watching.</p>
                      <a href="../index.html" class="btn btn-primary">
                        Back To Dashboard
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div th:replace="/pages/footer-form.html :: footer">Footer</div>


  <!-- Scripts -->
  <!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/odometer/odometer.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/quill/dist/quill.min.js"></script>
<script src="../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../assets/libs/prismjs/prism.js"></script>
<script src="../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>








<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>

</body>

</html>