<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Addonis is a student final graduation project of Telerik Academy- software bootcamp. Created by B. Benev and D. Planinski"/>
<!--    <meta name="keywords"-->
<!--          content="Geeks UI, bootstrap, bootstrap 5, Course, Sass, landing, Marketing, admin themes, bootstrap admin, bootstrap dashboard, ui kit, web app, multipurpose"/>-->


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="./assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="./assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="./assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="./assets/libs/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <link href="./assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="./assets/libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="./assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="./assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link href="./assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="./assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="./assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="./assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="./assets/css/theme.min.css">
    <title>Addonis - Extensions for your IDE</title>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="./index.html" th:href="@{/}"
        ><img src="./assets/images/brand/logo/logo.svg" alt=""
        /></a>
        <!-- Mobile view nav wrap -->
        <ul
                class="navbar-nav navbar-right-wrap ms-auto d-lg-none d-flex nav-top-wrap"
        >
<!--            <li class="dropdown stopevent">-->
<!--                <a-->
<!--                        class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"-->
<!--                        href="#"-->
<!--                        role="button"-->
<!--                        data-bs-toggle="dropdown"-->
<!--                >-->
<!--                    <i class="fe fe-bell"> </i>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-end shadow">-->
<!--                    <div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
            <li class="dropdown ms-2" th:if="${isAuthenticated}">
                <a
                        class="rounded-circle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                >
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img
                                alt="avatar"
                                src="#"
                                th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"

                                class="rounded-circle"
                        />
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow">
                    <div class="dropdown-item">
                        <div class="d-flex">
                            <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${loggedUser.isBlocked()}">
                                <img
                                        alt="avatar"
                                        src="#"
                                        th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                        class="rounded-circle"
                                />
                            </div>
                            <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${loggedUser.isBlocked()}">
                                <img
                                        alt="avatar"
                                        src="#"
                                        th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                        class="rounded-circle"
                                />
                            </div>
                            <div class="ms-3 lh-1">
                                <h5 class="mb-1" th:text="${loggedUser.username}">Your name</h5>
                                <p class="mb-0 text-muted" th:text="${loggedUser.email}">Your email</p>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
<!--                    <ul class="list-unstyled">-->
<!--                        <li class="dropdown-submenu">-->
<!--                            <a-->
<!--                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--                                    href="#"-->
<!--                            >-->
<!--                                <i class="fe fe-circle me-2"></i>Status-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li>-->
<!--                                    <a class="dropdown-item" href="#">-->
<!--                                        <span class="badge-dot bg-success me-2"></span>Online-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a class="dropdown-item" href="#">-->
<!--                                        <span class="badge-dot bg-secondary me-2"></span>Offline-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a class="dropdown-item" href="#">-->
<!--                                        <span class="badge-dot bg-warning me-2"></span>Away-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a class="dropdown-item" href="#">-->
<!--                                        <span class="badge-dot bg-danger me-2"></span>Busy-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->

<!--                        <li>-->
<!--                            <a class="dropdown-item" href="#" th:href="@{/users/update-profile}">-->
<!--                                <i class="fe fe-user me-2"></i>Profile-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="/" th:href="@{/auth/logout}">
                                <i class="fe fe-power me-2"></i>Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


        </ul>
        <!-- Button -->
        <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-default"
                aria-controls="navbar-default"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarPages"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Pages
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-arrow"
                            aria-labelledby="navbarPages"
                    >
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Addons
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="./pages/course-single.html"
                                            th:href="@{/addons/filter}"
                                    >
                                        Filter Addons
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" th:href="@{/addons/new}">
                                        Build your own
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./pages/about.html">
                                About
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarAccount"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Accounts
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-arrow"
                            aria-labelledby="navbarAccount"
                    >
                        <li>
                            <h4 class="dropdown-header">Accounts</h4>
                        </li>
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Users
                            </a>
                            <ul class="dropdown-menu">
                                <li class="text-wrap">
                                    <h5 class="dropdown-header text-dark">Users</h5>
                                    <p class="dropdown-text mb-0">
                                        Users dashboard to manage your addons.
                                    </p>
                                </li>
                                <li>
                                    <hr class="mx-3"/>
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="#" th:href="@{/users/dashboard}"
                                    >
                                        Dashboard</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu dropend">
                            <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#"
                            >
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li class="text-wrap">
                                    <h5 class="dropdown-header text-dark">Admin</h5>
                                    <p class="dropdown-text mb-0">
                                        Admin dashboard to manage addons and user.
                                    </p>
                                </li>
                                <li>
                                    <hr class="mx-3"/>
                                </li>
                                <li class="px-3 d-grid">
                                    <a
                                            class="dropdown-item"
                                            href="#" th:href="@{/users}"
                                    >
                                        Dashboard</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <hr class="mx-3"/>
                        </li>
                        <li th:unless="${isAuthenticated}">
                            <a class="dropdown-item" href="./pages/sign-in.html" th:href="@{/auth/login}">
                                Sign In
                            </a>
                        </li>
                        <li th:unless="${isAuthenticated}">
                            <a class="dropdown-item" href="./pages/sign-up.html" th:href="@{/auth/register}">
                                Sign Up
                            </a>
                        </li>
                        <li th:unless="${isAuthenticated}">
                            <a
                                    class="dropdown-item"
                                    href="./pages/forget-password.html"
                            >
                                Forgot Password
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" th:href="@{users/update-profile}">
                                Edit Profile
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center" th:action="@{/addons/filter}">
				<span class="position-absolute ps-3 search-icon">
					<i class="fe fe-search"></i>
				</span>
                <input
                        type="search"
                        class="form-control ps-6"
                        placeholder="Search Addons"
                        th:name="search"
                />
            </form>

            <span th:unless="${isAuthenticated}">
				<a href="#" th:href="@{/auth/login}" class="btn btn-white" style="font-weight:normal">Sign in</a>
			</span>
            <span>
                <a href="#" th:href="@{/users/dashboard}" class="btn btn-white"
                   style="font-weight: normal">Dashboard</a>
            </span>
            <ul class="navbar-nav navbar-right-wrap ms-auto d-none d-lg-block">
                <li class="dropdown ms-2 d-inline-block" th:if="${isAuthenticated}">
                    <a
                            class="rounded-circle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false"
                    >
                        <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${loggedUser.isBlocked()}">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="rounded-circle"
                            />
                        </div>
                        <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${loggedUser.isBlocked()}">
                            <img
                                    alt="avatar"
                                    src="#"
                                    th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                    class="rounded-circle"
                            />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online" th:unless="${loggedUser.isBlocked()}">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="avatar avatar-md avatar-indicators avatar-busy" th:if="${loggedUser.isBlocked()}">
                                    <img
                                            alt="avatar"
                                            src="#"
                                            th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                            class="rounded-circle"
                                    />
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1" th:text="${loggedUser.username}">Your name</h5>
                                    <p class="mb-0 text-muted" th:text="${loggedUser.email}">Your email</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
<!--                            <li class="dropdown-submenu dropstart-lg">-->
<!--                                <a-->
<!--                                        class="dropdown-item dropdown-list-group-item dropdown-toggle"-->
<!--                                        href="#"-->
<!--                                >-->
<!--                                    <i class="fe fe-circle me-2"></i>Status-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li>-->
<!--                                        <a class="dropdown-item" href="#">-->
<!--                                            <span class="badge-dot bg-success me-2"></span>Online-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a class="dropdown-item" href="#">-->
<!--                                            <span class="badge-dot bg-secondary me-2"></span>Offline-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a class="dropdown-item" href="#">-->
<!--                                            <span class="badge-dot bg-warning me-2"></span>Away-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a class="dropdown-item" href="#">-->
<!--                                            <span class="badge-dot bg-danger me-2"></span>Busy-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="#" th:href="@{users/update-profile}"
                                >
                                    <i class="fe fe-user me-2"></i>Profile
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="#" th:href="@{/auth/logout}">
                                    <i class="fe fe-power me-2"></i>Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content------------------------------------------------------------------------------------------------------------------------------- -->
<div class="bg-primary">
    <div class="container">
        <!-- Hero Section -->
        <div class="row align-items-center g-0">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class="text-white display-5 fw-bold">Welcome to Addonis - the place for essential tools for
                        software developers and teams. Here you can find an exetention for your IDE.
                    </h1>
                    <p class="text-white-50 mb-4 lead">
                        Here you can find Developer Tools, Team Tools as well Learning Tools
                    </p>
                    <a href="pages/course-filter-list.html" th:href="@{/addons/filter}" class="btn btn-success">See
                        all</a>
                    <span>
                        <a th:if="${isAuthenticated}" href="#" class="btn btn-white" th:href="@{/addons/new}">Build your own</a>
                    </span>
                    <span>
                        <a th:unless="${isAuthenticated}" href="#" class="btn btn-white" th:href="@{/auth/login}">Build your own</a>
                    </span>
                </div>
            </div>
            <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-end text-center">
                <img src="assets/images/hero/hero2.png" alt="" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pt-lg-12 pb-lg-3 pt-8 pb-6">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="mb-0">Featured</h2>
            </div>
        </div>
        <div class="position-relative">
            <ul class="controls " id="sliderFirstControls">
                <li class="prev">
                    <i class="fe fe-chevron-left"></i>
                </li>
                <li class="next">
                    <i class="fe fe-chevron-right"></i>
                </li>
            </ul>
            <div class="sliderFirst">
                <div th:each="addon: ${featured}">
                    <div class="item">
                        <!-- Card -->
                        <div th:replace="pages/addon-display-card-form.html :: display-card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-lg-3 pt-lg-3">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="mb-0">Most Popular</h2>
            </div>
        </div>
        <div class="position-relative">
            <ul class="controls " id="sliderSecondControls">
                <li class="prev">
                    <i class="fe fe-chevron-left"></i>
                </li>
                <li class="next">
                    <i class="fe fe-chevron-right"></i>
                </li>
            </ul>
            <div class="sliderSecond">
                <div th:each="addon: ${popular}">
                    <div class="item">
                        <!-- Card -->
                        <div th:replace="pages/addon-display-card-form.html :: display-card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-lg-8 pt-lg-3 py-6">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="mb-0">Most recent</h2>
            </div>
        </div>
        <div class="position-relative">
            <ul class="controls" id="sliderThirdControls">
                <li class="prev">
                    <i class="fe fe-chevron-left"></i>
                </li>
                <li class="next">
                    <i class="fe fe-chevron-right"></i>
                </li>
            </ul>
            <div class="sliderThird">

                <div th:each="addon: ${recent}">

                    <div class="item">
                        <!-- Card -->
                        <div th:replace="pages/addon-display-card-form.html :: display-card"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="pages/footer-form.html :: footer">Footer</div>


<!-- Scripts -->
<!-- Libs JS -->
<script src="./assets/libs/jquery/dist/jquery.min.js"></script>
<script src="./assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="./assets/libs/odometer/odometer.min.js"></script>
<script src="./assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="./assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="./assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="./assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="./assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="./assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="./assets/libs/quill/dist/quill.min.js"></script>
<script src="./assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="./assets/libs/dragula/dist/dragula.min.js"></script>
<script src="./assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="./assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="./assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="./assets/libs/prismjs/prism.js"></script>
<script src="./assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="./assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="./assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="./assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="./assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="./assets/libs/typed.js/lib/typed.min.js"></script>
<script src="./assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="./assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="./assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="./assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="./assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="./assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="./assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="./assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>


<!-- Theme JS -->
<script src="./assets/js/theme.min.js"></script>

</body>

</html>