<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Geeks is a fully responsive and yet modern premium bootstrap template. Geek is feature-rich components and beautifully designed pages that help you create the best possible website and web application projects."/>
    <meta name="keywords"
          content="Geeks UI, bootstrap, bootstrap 5, Course, Sass, landing, Marketing, admin themes, bootstrap admin, bootstrap dashboard, ui kit, web app, multipurpose"/>


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="../../assets/fonts/feather/feather.css" rel="stylesheet">
    <link href="../../assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../../assets/libs/dragula/dist/dragula.min.css" rel="stylesheet"/>
    <link href="../../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="../../assets/libs/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="../../assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link href="../../assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../../assets/libs/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <link href="../../assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="../../assets/libs/tippy.js/dist/tippy.css" rel="stylesheet">
    <link href="../../assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="../../assets/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="../../assets/css/theme.min.css">
    <title>Users | Addonis - Extensions Marketplace</title>
</head>

<body>
<!-- Wrapper -->
<div id="db-wrapper">
    <!-- navbar vertical -->
    <!-- Sidebar -->
    <nav class="navbar-vertical navbar">
        <div class="nav-scroller">
            <!-- Brand logo -->
            <a class="navbar-brand" href="/" th:href="@{/}">
                <img src="../../assets/images/brand/logo/logo-inverse.svg" alt=""/>
            </a>
            <!-- Navbar nav -->
            <ul class="navbar-nav flex-column" id="sideNavbar">
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navDashboard" aria-expanded="false" aria-controls="navDashboard">-->
                <!--                    <i class="nav-icon fe fe-home me-2"></i> Dashboard-->
                <!--                </a>-->
                <!--                <div id="navDashboard" class="collapse " data-bs-parent="#sideNavbar">-->
                <!--                    <ul class="nav flex-column">-->
                <!--                        <li class="nav-item ">-->
                <!--                            <a class="nav-link " href="../../pages/dashboard/admin-dashboard.html">-->
                <!--                                    Overview-->
                <!--                                </a>-->
                <!--                        </li>-->
                <!--                        &lt;!&ndash; Nav item &ndash;&gt;-->
                <!--                        <li class="nav-item ">-->
                <!--                            <a class="nav-link " href="../../pages/dashboard/dashboard-analytics.html">-->
                <!--                                    Analytics-->

                <!--                                </a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <!--            </li>-->
                <li class="nav-item">
                    <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navCourses"
                       aria-expanded="false" aria-controls="navCourses">
                        <i class="nav-icon fe fe-book me-2"></i> Addons
                    </a>
                    <div id="navCourses" class="collapse " data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="#" th:href="@{/admin/dashboard}">
                                    All Addons
                                </a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link " href="../../pages/dashboard/admin-course-category.html">-->
<!--                                    Courses Category-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link " href="../../pages/dashboard/admin-course-category-single.html">-->
<!--                                    Category Single-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link  " href="#" data-bs-toggle="collapse" data-bs-target="#navProfile"
                       aria-expanded="false" aria-controls="navProfile">
                        <i class="nav-icon fe fe-user me-2"></i> User
                    </a>
                    <div id="navProfile" class="collapse  show " data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link " href="#" th:href="@{/users}">-->
<!--                                    Administrators-->
<!--                                </a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link  active " href="#" th:href="@{/users}">Users</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>




                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse"
                       data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
                        <i class="nav-icon fe fe-lock me-2"></i> Authentication
                    </a>
                    <div id="navAuthentication" class="collapse " data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="#" th:href="@{/auth/login}">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " href="#" th:href="@{/auth/register}">Sign Up</a>
                            </li>
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link " href="../../pages/forget-password.html">-->
                            <!--                                    Forget Password-->
                            <!--                                </a>-->
                            <!--                            </li>-->
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link  " href="../../pages/dashboard/notification-history.html">-->
                            <!--                                    Notifications-->
                            <!--                                </a>-->
                            <!--                            </li>-->
                            <!--                            <li class="nav-item">-->
                            <!--                                <a class="nav-link  " href="../../pages/404-error.html"> 404 Error</a>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                </li>

            </ul>
            <!-- Card -->
            <!--            <div class="card bg-dark-primary shadow-none text-center mx-4 my-8">-->
            <!--                <div class="card-body py-6">-->
            <!--                    <img src="../../assets/images/background/giftbox.png" alt=""/>-->
            <!--                    <div class="mt-4">-->
            <!--                        <h5 class="text-white">Unlimited Access</h5>-->
            <!--                        <p class="text-white-50 fs-6">-->
            <!--                            Upgrade your plan from a Free trial, to select ‘Business Plan’. Start Now-->
            <!--                        </p>-->
            <!--                        <a href="#" class="btn btn-white btn-sm mt-2">Upgrade Now</a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </nav>
    <!-- Page Content -->
    <div id="page-content">
        <div class="header">
            <!-- navbar -->
            <nav class="navbar-default navbar navbar-expand-lg">
                <a id="nav-toggle" href="#">
                    <i class="fe fe-menu"></i>
                </a>
                <div class="ms-lg-3 d-none d-md-none d-lg-block">
                    <!-- Form -->
                    <!--            <form class="d-flex align-items-center">-->
                    <!--                <span class="position-absolute ps-3 search-icon">-->
                    <!--                        <i class="fe fe-search"></i>-->
                    <!--                    </span>-->
                    <!--                <input type="search" class="form-control form-control-sm ps-6" placeholder="Search Entire Dashboard" />-->
                    <!--            </form>-->
                </div>
                <!--Navbar nav -->
                <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">

                    <li class="dropdown ms-2">
                        <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div class="avatar avatar-md avatar-indicators avatar-online">
                                <img alt="avatar" src="#" th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="rounded-circle"/>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                            <div class="dropdown-item">
                                <div class="d-flex">
                                    <div class="avatar avatar-md avatar-indicators avatar-online">
                                        <img alt="avatar" src="#" th:src="${image != null ? image : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}" class="rounded-circle"/>
                                    </div>
                                    <div class="ms-3 lh-1">
                                        <h5 class="mb-1" th:text="'@'+${username}">Annette Black</h5>
                                        <p class="mb-0 text-muted" th:text="${email}">annette@geeksui.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <ul class="list-unstyled">
                                <!--                        <li class="dropdown-submenu dropstart-lg">-->
                                <!--                            <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">-->
                                <!--                                <i class="fe fe-circle me-2"></i> Status-->
                                <!--                            </a>-->
                                <!--                            <ul class="dropdown-menu">-->
                                <!--                                <li>-->
                                <!--                                    <a class="dropdown-item" href="#">-->
                                <!--                                        <span class="badge-dot bg-success me-2"></span> Online-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a class="dropdown-item" href="#">-->
                                <!--                                        <span class="badge-dot bg-secondary me-2"></span> Offline-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a class="dropdown-item" href="#">-->
                                <!--                                        <span class="badge-dot bg-warning me-2"></span> Away-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <!--                                <li>-->
                                <!--                                    <a class="dropdown-item" href="#">-->
                                <!--                                        <span class="badge-dot bg-danger me-2"></span> Busy-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                                <!--                            </ul>-->
                                <!--                        </li>-->
                                <li>
                                    <a class="dropdown-item" href="#" th:href="@{/users/update-profile}">
                                        <i class="fe fe-user me-2"></i> Profile
                                    </a>
                                </li>
                                <!--                        <li>-->
                                <!--                            <a class="dropdown-item" href="../../pages/student-subscriptions.html">-->
                                <!--                                <i class="fe fe-star me-2"></i> Subscription-->
                                <!--                            </a>-->
                                <!--                        </li>-->
                                <!--                        <li>-->
                                <!--                            <a class="dropdown-item" href="#">-->
                                <!--                                <i class="fe fe-settings me-2"></i> Settings-->
                                <!--                            </a>-->
                                <!--                        </li>-->
                            </ul>
                            <div class="dropdown-divider"></div>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="dropdown-item" href="/" th:href="@{/auth/logout}">
                                        <i class="fe fe-power me-2"></i> Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Container fluid -->
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Page Header -->
                    <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                        <div class="mb-2 mb-lg-0">
                            <h1 class="mb-1 h2 fw-bold">
                                Users
                                <span class="fs-5 text-muted" th:text="'('+${users.size()}+')'">(1,22,105 )</span>
                            </h1>
                            <!-- Breadcrumb  -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#" th:href="@{/users}">Dashboard</a>
                                    </li>
                                    <!--                                        <li class="breadcrumb-item"><a href="#">User</a></li>-->
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Users
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="nav btn-group" role="tablist">
                            <button class="btn btn-outline-white active" data-bs-toggle="tab"
                                    data-bs-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid"
                                    aria-selected="true">
                                <span class="fe fe-grid"></span>
                            </button>
                            <button class="btn btn-outline-white" data-bs-toggle="tab" data-bs-target="#tabPaneList"
                                    role="tab" aria-controls="tabPaneList" aria-selected="false">
                                <span class="fe fe-list"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Tab -->
                    <div class="tab-content">
                        <!-- Tab Pane -->
                        <div class="tab-pane fade show active" id="tabPaneGrid" role="tabpanel"
                             aria-labelledby="tabPaneGrid">

                            <form th:action="@{/users}">
                                <div class="mb-4">
                                    <input th:name="search" type="search" class="form-control"
                                           placeholder="Search User"/>
                                </div>
                            </form>


                            <!--                                <div>-->
                            <!--                                    <a href="#" class="btn btn-primary">Setting</a>-->
                            <!--                                </div>-->
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12" th:each="user: ${users}">
                                    <!-- Card -->
                                    <div class="card mb-4">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="text-center">
                                                <div class="position-relative">
                                                    <img src="#"
                                                         th:src="${user.image != null ? user.imageURI : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                                         class="rounded-circle avatar-xl mb-3" alt=""/>
                                                    <a href="#" class="position-absolute mt-10 ms-n5">
                                                        <span class="status bg-success"></span>
                                                    </a>
                                                </div>
                                                <h4 class="mb-0" th:text="'@'+${user.username}">Esther Howard</h4>
                                                <p class="mb-0">
                                                    <i class="fe fe-phone-call fs-4" th:text="' '+${user.phone}"></i>

                                                </p>
                                                <p class="mb-0">

                                                    <i class="fe fe-mail text-muted" th:text="' '+${user.email}"></i>
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-between border-bottom py-2 mt-6">
                                                <span>Status</span>
                                                <span class="text-dark" style="background-color:orange"
                                                      th:text="Blocked" th:if="${user.isBlocked()}">Blocked</span>
                                                <span class="text-dark" style="background-color:lightgreen"
                                                      th:text="Active" th:unless="${user.isBlocked()}">Active</span>

                                            </div>
                                            <div class="d-flex justify-content-between border-bottom py-2">
                                                <span>Last upload on</span>
                                                <!--                                                    <span > 17 Aug, 2020 </span>-->

                                                <span th:text="${user.lastUploadDate}"
                                                      th:if="${user.lastUploadDate != null}"> 17 Aug, 2020  </span>
                                                <span th:unless="${user.lastUploadDate != null}"> No uploads </span>


                                            </div>
                                            <div class="d-flex justify-content-between pt-2">
                                                <span>Add ons</span>
                                                <span class="text-dark" th:text="${user.addonsNumber}"> 12 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                    <!-- Card -->
                                    <!--                                        <div class="card mb-4">-->
                                    <!--                                            &lt;!&ndash; Card body &ndash;&gt;-->
                                    <!--                                            <div class="card-body">-->
                                    <!--                                                <div class="text-center">-->
                                    <!--                                                    <div class="position-relative">-->
                                    <!--                                                        <img src="../../assets/images/avatar/avatar-13.jpg" class="rounded-circle avatar-xl mb-3" alt="" />-->
                                    <!--                                                        <a href="#" class="position-absolute mt-10 ms-n5">-->
                                    <!--                                                            <span class="status bg-secondary"></span>-->
                                    <!--                                                        </a>-->
                                    <!--                                                    </div>-->
                                    <!--                                                    <h4 class="mb-0">Esther Howard</h4>-->
                                    <!--                                                    <p class="mb-0">-->
                                    <!--                                                        <i class="fe fe-map-pin me-1 fs-6"></i>India-->
                                    <!--                                                    </p>-->
                                    <!--                                                </div>-->
                                    <!--                                                <div class="d-flex justify-content-between border-bottom py-2 mt-6">-->
                                    <!--                                                    <span>Payments</span>-->
                                    <!--                                                    <span class="text-dark">$2,660</span>-->
                                    <!--                                                </div>-->
                                    <!--                                                <div class="d-flex justify-content-between border-bottom py-2">-->
                                    <!--                                                    <span>Joined at</span>-->
                                    <!--                                                    <span> 15 Aug, 2020 </span>-->
                                    <!--                                                </div>-->
                                    <!--                                                <div class="d-flex justify-content-between pt-2">-->
                                    <!--                                                    <span>Courses</span>-->
                                    <!--                                                    <span class="text-dark"> 42 </span>-->
                                    <!--                                                </div>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">

                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">

                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">

                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">

                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">

                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-6 col-12">

                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <!-- Pagination -->
                                    <nav>
                                        <ul class="pagination justify-content-center mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link mx-1 rounded" href="#" tabindex="-1"
                                                   aria-disabled="true"><i
                                                        class="mdi mdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link mx-1 rounded" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link mx-1 rounded" href="#">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link mx-1 rounded" href="#"><i
                                                        class="mdi mdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane -->
                        <div class="tab-pane fade" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                            <!-- Card -->
                            <div class="card">
                                <!-- Card Header -->
                                <form th:action="@{/users}">
                                    <div  class="card-header">
                                        <input th:name="search" type="search" class="form-control"
                                               placeholder="Search Users"/>
                                    </div>
                                </form>

                                <!-- Table -->
                                <div class="table-responsive">
                                    <table class="table mb-0 text-nowrap">
                                        <thead class="table-light">
                                        <tr>
                                            <th scope="col" class="border-0">Username</th>
                                            <th scope="col" class="border-0">Add ons</th>
                                            <th scope="col" class="border-0">Last upload</th>
                                            <th scope="col" class="border-0">
                                                Status
                                            </th>
                                            <th scope="col" class="border-0">Email</th>
                                            <th scope="col" class="border-0">Phone</th>
                                            <th scope="col" class="border-0"></th>
<!--                                            <th scope="col" class="border-0"></th>-->
<!--                                            <th scope="col" class="border-0"></th>-->
<!--                                            <th scope="col" class="border-0"></th>-->
                                        </tr>
                                        </thead>
                                        <tbody th:each="user : ${users}">
                                        <tr>
                                            <td class="align-middle border-top-0">
                                                <div class="d-flex align-items-center">
                                                    <div class="position-relative">
                                                        <img src="#"
                                                             th:src="${user.image != null
                                                                     ? user.imageURI
                                                                     : 'https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg'}"
                                                             alt="" class="rounded-circle avatar-md me-2"/>
                                                        <a href="#" class="position-absolute mt-5 ms-n4">
                                                            <span class="status bg-success"></span>
                                                        </a>
                                                    </div>
                                                    <h5 class="mb-0" th:text="'@'+${user.getUsername()}">Guy
                                                        Hawkins</h5>
                                                </div>
                                            </td>
                                            <td class="align-middle border-top-0"
                                                th:text="${user.addonsNumber} + ' Add ons'">
                                                6 Add ons
                                            </td>
                                            <td class="align-middle border-top-0" th:text="${user.lastUploadDate}"
                                                th:if="${user.lastUploadDate != null}">
                                                7 July, 2020
                                            </td>
                                            <td class="align-middle border-top-0"
                                                th:unless="${user.lastUploadDate != null}">
                                                No uploads
                                            </td>



                                            <td class="align-middle border-top-0" th:if="${user.isBlocked()}">
                                                <span  class="badge-dot bg-warning me-1 d-inline-block align-middle"></span>Blocked
                                            </td>
                                            <td class="align-middle" th:unless="${user.isBlocked()}" >
                                                <span  class="badge-dot bg-success me-1 d-inline-block align-middle"></span>Active
                                            </td>



<!--                                            <td class="align-middle border-top-0" style="background-color:lightcoral"-->
<!--                                                th:text="Blocked" th:if="${user.isBlocked()}">Blocked-->
<!--                                            </td>-->
<!--                                            <td class="align-middle border-top-0" style="background-color:lightgreen"-->
<!--                                                th:text="Active" th:unless="${user.isBlocked()}">Active-->
<!--                                            </td>-->

                                            <td class="align-middle border-top-0" th:text="${user.email}">
                                                Los Angeles, CA
                                            </td>
                                            <td class="align-middle border-top-0" th:text="${user.phone}">
                                                Los Angeles, CA
                                            </td>


                                            <!--                                                    <td class="align-middle border-top-0">-->
                                            <!--                                                        <a href="#" class="fe fe-mail text-muted" data-bs-toggle="tooltip" data-placement="top" title="Message">-->
                                            <!--                                                        </a>-->
                                            <!--                                                    </td>-->

                                            <td class="align-middle border-top-0"
                                                th:action="@{'/users/'+ ${user.id}+'/block-unblock'}">
                                                <a th:if="${user.isBlocked()}" href="#" class="text-muted"
                                                   th:href="@{'/users/'+ ${user.id}+'/block-unblock'}"
                                                   data-bs-toggle="tooltip"
                                                   data-placement="top" title="Unblock"><i
                                                        class="fas fa-lock"></i></a>
                                                <a th:unless="${user.isBlocked()}" href="#" class="text-muted"
                                                   th:href="@{'/users/'+ ${user.id}+'/block-unblock'}"
                                                   data-bs-toggle="tooltip"
                                                   data-placement="top" title="Block"><i
                                                        class="fas fa-lock-open"></i></a>
                                            </td>

                                            <!--                                                    <td class="text-muted px-4 py-3 align-middle border-top-0">-->
                                            <!--                                                        <span class="dropdown dropstart">-->
                                            <!--                                <a class="text-muted text-decoration-none" href="#" role="button" id="courseDropdown"-->
                                            <!--                                  data-bs-toggle="dropdown"  data-bs-offset="-20,20" aria-expanded="false">-->
                                            <!--                                  <i class="fe fe-more-vertical"></i>-->
                                            <!--                                </a>-->
                                            <!--                                <span class="dropdown-menu" aria-labelledby="courseDropdown">-->
                                            <!--                                  <span class="dropdown-header">Settings</span>-->
                                            <!--                                                        <a class="dropdown-item" href="#"><i-->
                                            <!--                                      class="fe fe-edit dropdown-item-icon"></i>Edit</a>-->
                                            <!--                                                        <a class="dropdown-item" href="#"><i-->
                                            <!--                                      class="fe fe-trash dropdown-item-icon"></i>Remove</a>-->
                                            <!--                                                        </span>-->
                                            <!--                                                        </span>-->
                                            <!--                                                    </td>-->
                                        </tr>

                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination justify-content-center pb-3 pt-4">
                                            <li class="page-item disabled">
                                                <a class="page-link mx-1 rounded" href="#" tabindex="-1"
                                                   aria-disabled="true"><i
                                                        class="mdi mdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link mx-1 rounded" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link mx-1 rounded" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link mx-1 rounded" href="#">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link mx-1 rounded" href="#"><i
                                                        class="mdi mdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /#page-content-wrapper -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Libs JS -->
<script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/libs/odometer/odometer.min.js"></script>
<script src="../../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../../assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../../assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="../../assets/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../assets/libs/quill/dist/quill.min.js"></script>
<script src="../../assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js"></script>
<script src="../../assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../../assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="../../assets/libs/jQuery.print/jQuery.print.js"></script>
<script src="../../assets/libs/prismjs/prism.js"></script>
<script src="../../assets/libs/prismjs/components/prism-scss.min.js"></script>
<script src="../../assets/libs/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="../../assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../../assets/libs/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../../assets/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="../../assets/libs/typed.js/lib/typed.min.js"></script>
<script src="../../assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
<script src="../../assets/libs/jsvectormap/dist/maps/world.js"></script>
<script src="../../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="../../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="../../assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="../../assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>


<!-- Theme JS -->
<script src="../../assets/js/theme.min.js"></script>
</body>

</html>